{% include 'home/partials/head.html' %}

<body>
   <!-- Barra inicial logo -->
   {% include 'home/partials/topo.html' %}
   <!-- Fim Barra inicial logo -->

    
   <!-- menu-->
   {% include 'home/partials/menu.html' %}
   <!-- fim Menu-->

   
   <!-- Barra Topo-->
    {% include 'home/partials/barra.html' %}
   <!--fim barra Topo-->


     
   <!-- Main -->
      <div class="body-wrapper-inner">
        <div class="container-fluid">
          
          xxxxxxxxxxxxxxxxxxxx  jimdjid<br><br><br>
          d,jimdjidd,djk,dk
          d,,dld
          d,dd,mod
         
        </div>
      </div>
      <!-- Fim Main-->
  

   {% include 'home/partials/footer.html' %}
</body>

</html>