{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OnBlue - Sistema para empresas prestadores de serviços em ar condicionado</title>
  <link rel="shortcut icon" type="image/png" href="{% static './home/images/logos/favicon.png'%}" />
  <link rel="stylesheet" href="{% static 'home/libs/simplebar/dist/simplebar.css'%}" />
  <link rel="stylesheet" href="{% static 'home/css/icons/tabler-icons/tabler-icons.css'%}" />
  <link rel="stylesheet" href="{% static 'home/css/styles.min.css'%}" />
</head>