{% load static %}

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">

      <!--  App Topstrip -->
      <div class="app-topstrip bg-dark py-6 px-3 w-100 d-lg-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center justify-content-center gap-5 mb-2 mb-lg-0">
          <a class="d-flex justify-content-center" href="#">
            <img src="{% static 'home/images/logos/onblue-system.png'%}" alt="" width="auto">
          </a>
        </div>

        <div class="d-lg-flex align-items-center gap-2">
          <h3 class="text-white mb-2 mb-lg-0 fs-5 text-center">Sistema de Gerenciamento para Manutenção de Ar Condicionado</h3>
          <div class="d-flex align-items-center justify-content-center gap-2">
            <div class="dropdown d-flex">
              
            </div>
          </div>
        </div>

  </div>